.ListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.3em;
}

.ListItem__index {
  font-size: 1.5em;
}

.ListItem__value {
  font-size: 1.5em;
  background: var(--default-item-color, rgb(84, 161, 255));
  padding: 0.7em 0;
  width: 2.5em;
  border-radius: 0.5em;
  color: #f9f9f9;
  text-align: center;
}