.ListViz {
  display: flex;
  width: 100%;
  padding: 2% 0 1% 0;
  min-height: 5.2em;
}

.ListViz__empty {
  margin-left: 0.4em;
  color: var(--default-item-color);
  font-size: 1.2em;
  overflow: visible;
  align-self: center;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ListViz__empty {
    color: rgb(39, 148, 244);
  }
}

