.ListHistory__header {
  display: flex;
  justify-content: space-between;
}

.ListHistory__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ListHistory__list-vizzes {
  flex: 1 1 auto;
}

.ListHistory__method-call-and-return {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex: 0 0 20em;
  align-self: flex-end;
}

