.ListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.ListItem__index {
  font-size: 150%;
  transition: color 1.0s ease-out;
}

.ListItem__value {
  font-size: 150%;
  background: var(--default-item-color, rgb(67, 157, 235));
  padding: 25% 0;
  width: 100%;
  border-radius: 20%;
  color: #f9f9f9;
  text-align: center;
  transition: background-color 0.5s ease-out;
}

.ListItem__value--attention {
  /* background-color: #9c52fc;; */
  animation: pulse 1.0s; /* or modify pulse to make more obvious */
}

.ListItem__index--attention {
  color:  rgb(67, 157, 235);
  animation: rubberBand 1.0s;
}

.ListItem__value--count {
  animation: hop 0.5s;
}

.ListItem__value--found {
  animation: tada 1.0s;
}

.ListItem__value--not-it {
  animation: headShake 0.9s;
}

/* .ListItem__index--pulse {
  font-size: 2.0em;
} */