.ListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.3em;
}

.ListItem__index {
  font-size: 1.6em;
  transition: color 1.0s ease-out;
}

.ListItem__value {
  font-size: 1.5em;
  background: var(--default-item-color, rgb(67, 157, 235));
  padding: 0.7em 0;
  width: 2.5em;
  border-radius: 0.5em;
  color: #f9f9f9;
  text-align: center;
  transition: background-color 0.5s ease-out;
}

.ListItem__value--attention {
  /* background-color: #9c52fc;; */
  animation: pulse 1.0s; /* or modify pulse to make more obvious */
}

.ListItem__index--attention {
  color:  rgb(67, 157, 235);
  animation: rubberBand 1.0s;
}

.ListItem__value--count {
  animation: mini-bounce 0.7s;
}

/* .ListItem__index--pulse {
  font-size: 2.0em;
} */