.ListViz {
  display: flex;
  width: 100%;
  padding: 2% 0 1% 0;
  height: 4.8em;
}

.ListViz__empty {
  margin-left: 0.4em;
  /* color: var(--default-item-color); */
  color: rgb(22, 133, 230);
  font-size: 1.2em;
  overflow: visible;
  align-self: center;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ListViz__empty {
    color: rgb(22, 133, 230);
  }
}

