.ListViz {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow: scroll;
  padding-bottom: 1.0em;
  /* min-height: 6em; */
  /* border-top: 1px dashed black; */
}

.ListViz--empty {
  margin: 2.0em;
  margin-left: 0.4em;
  color: var(--default-item-color, rgb(84, 161, 255));
  font-size: 1.2rem;
  padding-bottom: 0;
}