.ReturnValue {
  font-size: 1.3em;
  /* padding: 0.5em 0.7em; */
  margin: 0.5em;
}

.ReturnValue__container {
  display: flex;
  align-items: center;
}

/* These should be the same as for ListItem__value */
.ReturnValue--string {
  font-size: 1.5em;
  background: var(--default-item-color);
  padding: 0.5em 0;
  border-radius: 0.5em;
  border-radius: 0;
  color: #f9f9f9;
  margin: 0.3em;
  width: 2.0em;
  text-align: center;
}

/* .ReturnValue--boolean {
  color: green;
} */