.ReturnValue {
  font-size: 1.3em;
  /* padding: 0.5em 0.7em; */
  margin: 0.5em;
  font-weight: 400;
}

.ReturnValue__container {
  display: flex;
  align-items: center;
}

/* These should be the same as for ListItem__value */
.ReturnValue--string {
  font-size: 2.0em;
  background: var(--default-item-color);
  padding: 0.2em 0;
  border-radius: 0;
  color: var(--off-white);
  margin: 0.3em;
  width: 1.5em;
  text-align: center;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ReturnValue--string {
    background: rgb(22, 133, 230);
    color: #f9f9f9;
  }
}