.StateTracker__wrapper {
  /* margin-left: 1em; */
  /* overflow: hidden; */
  flex: 1 1 36em;
  
  /* border-right: 1px solid var(--border-grey); */
  border-right: 1px solid rgb(207,207,207);
  display: flex;
  justify-content: flex-end;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .StateTracker__wrapper {
    border-right: 1px solid rgb(207,207,207);
  }
}

@media only screen and (max-device-width : 700px) and (orientation : portrait){
  .StateTracker__wrapper {
    flex: 1 1 auto;
    height: 60vh;
    overflow-y: scroll;
    /* border-bottom: 10px solid var(--border-grey); */
    border-bottom: 1px solid rgb(207,207,207);
    font-size: 0.9em;
  }
}

.StateTracker {
  padding: 0.5em 1.0em 0 2.0em;
  flex: 0 1 36em;
  height: inherit;
}

@media only screen and (max-device-width : 700px) and (orientation : portrait) {
  .StateTracker {
    flex: 1 1 auto;
  }
}

.StateTracker__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}