.StateTracker {
  flex: 0 0 36em;
  /* margin-left: 1em; */
  overflow: hidden;
  padding: 0.5em 1.0em 0 2.0em;
  border-right: 1px dashed #222;
}

.StateTracker__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}