.MethodToolbox {
  flex: 0 0 18em;
  margin-left: 1em;
  padding-top: 0.5em;
  padding-left: 1em;
  border-left: 1px dashed #222;
  height: inherit;
}

.MethodToolbox__ap-check {
  margin-bottom: 0.4em;
  margin-left: 0.6em;
}

.MethodToolbox__ap-check--label {
  margin-left: 0.8em;
}

.MethodToolbox__buttons-container {
  margin-left: 0.7em;
}