.MethodToolbox {
  flex: 0 1 18em;
  padding: 0.5em 2.0em 0em 1.5em;
  height: inherit;
}

.MethodToolbox__ap-check {
  margin-bottom: 0.4em;
  margin-left: 0.6em;
}

.MethodToolbox__ap-check--label {
  margin-left: 0.8em;
}

.MethodToolbox__buttons-container {
  margin-left: 0.7em;
}