.MethodToolbox__wrapper {
  flex: 1 1 18em;
  display: flex;
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: 100vh;
  position: sticky;
  top: 0;
}

.MethodToolbox {
  flex: 0 1 18em;
  padding: 0.5em 2.0em 0em 1.5em;
  height: inherit;
}

.MethodToolbox__ap-check {
  margin: 0.4em 0 0.8em 0;
}

.MethodToolbox__ap-check .rc-checkbox-input {
  margin-right: 0.8em;
}

.MethodToolbox__ap-check--label {
  margin-left: 0.6em;
  
}

.ap-check--actual-label {
  position: relative;
  top: 2px;
}

.MethodToolbox__buttons-container {
  margin-left: 0.7em;
}