.MethodButton {
  /* display: flex; */
  /* align-items: center; */
  padding: 0.5em;
  font-size: 1.0em;
  margin: 0.5em;
  transition: background-color 0.8s;
  border: none;
}

.MethodCall {
  color: var(--off-white);
  border-radius: 0.5em;
  border: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .MethodCall {
    color: #f9f9f9;
  }
}

.MethodButton--add {
  background: rgb(50, 165, 57);
}

.MethodButton--set {
  background: #f77b1c;
}

.MethodButton--remove, .MethodButton--clear {
  background: #eb2e0c;
}

.MethodButton--get, .MethodButton--contains, .MethodButton--indexOf, .MethodButton--lastIndexOf {
  background: #7a3bcd;
}

.MethodButton--size, .MethodButton--isEmpty {
  background: #ca53dc;
}

.MethodButton--disabled {
  background: var(--disabled-grey);
  color: var(--disabled-grey-text);
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .MethodButton--disabled {
    background: rgb(157, 157, 157);
    color: rgb(220, 220, 220);
  }
}

.MethodButton__summary--desc1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.3em;
}

.MethodButton__summary--desc2 {
  margin-bottom: 0.5em;
  line-height: 1.3em;
}
