.MethodButton {
  display: flex;
  align-items: center;
  padding: 0.5em;
  font-size: 1.0em;
  margin: 0.5em;
  transition: background-color 0.8s;
}

.MethodButton--add {
  background: rgb(95, 199, 95);
}

.MethodButton--set {
  background: #fa903f;
}

.MethodButton--remove {
  background: #ff3939;
}

.MethodButton--get {
  background: #9c52fc;
}

.MethodButton--size {
  background: #ff79bc;
}

.MethodButton--disabled {
  background: var(--disabled-grey);
  color: var(--disabled-grey-text);
}
