.App {
  text-align: left;
  margin: auto;
  width: 50em;
  color: #222;
}

.App__main-row {
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App__header {
  /* background-color: #222; */
  height: 50px;
  padding: 20px;
  margin-top: 0;
  /* text-align: center; */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
