@import url("https://fonts.googleapis.com/css?family=Open+Sans|Averia+Sans+Libre:700");

.App {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin: auto;
  width: 100%;
  color: #444;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-device-width : 700px) {
  .App {
    font-size: 0.8em;
  }
}

.App__main-row {
  display: flex;
  justify-content: center;

  min-height: inherit;
  
  width: 100%;
  min-width: 45em;
}

@media only screen and (max-device-width : 700px) {
  .App__main-row {
    display: block;
    min-width: 0;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App__header {
  /* background-color: #222; */
  height: 6em;
  /* padding: 2em; */
  margin-top: 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--border-grey);
}

@media only screen and (max-device-width : 700px) {
  .App__header {
    height: 0;
  }
}

.App__title {
  font-size: 2.5em;
  color: #666;
  text-shadow: 0.02em 0.02em #222;
  font-family: 'Averia Sans Libre';
}

@media only screen and (max-device-width : 700px) {
  .App__title {
    display: none;
    font-size: 1.8em;
    margin: 0.5em;
  }
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
