@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

.App {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: left;
  margin: auto;
  width: 100%;
  color: #444;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-device-width : 700px) {
  .App {
    font-size: 0.8em;
  }
}

.App__main-row {
  display: flex;
  justify-content: center;

  min-height: inherit;
  
  width: 100%;
  min-width: 45em;
}

@media only screen and (max-device-width : 700px) and (orientation : portrait){
  .App__main-row {
    display: block;
    min-width: 0;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App__header {
  /* background-color: #222; */
  height: 6em;
  /* padding: 2em; */
  margin-top: 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--border-grey);
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .App__header {
    border-bottom: 1px solid rgb(207,207,207);
  }
}

@media only screen and (max-device-width : 700px) {
  .App__header {
    height: 0;
  }
}

.App__title {
  font-size: 2.5em;
  color: #666;
  text-shadow: 0.02em 0.02em #222;
}

@media only screen and (max-device-width : 700px) {
  .App__title {
    display: none;
    font-size: 1.8em;
    margin: 0.5em;
  }
}

@keyframes Modal--bounceOutDown {
  20% {
    transform: translate3d(-50%, -48%, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(-50%, -54%, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-50%, 500%, 0);
  }
}

.Modal--bounceOutDown {
  animation-name: Modal--bounceOutDown;
}

@keyframes Modal--bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-50%, -1000%, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-50%, -47%, 0);
  }

  75% {
    transform: translate3d(-50%, -52%, 0);
  }

  90% {
    transform: translate3d(-50%, -49%, 0);
  }

  to {
    transform: translate3d(-50%, -50%, 0);
  }
}

.Modal--bounceInDown {
  animation-name: Modal--bounceInDown;
}



