@import url("https://fonts.googleapis.com/css?family=Open+Sans|Averia+Sans+Libre:700");

.App {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin: auto;
  width: 100%;
  color: #222;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App__main-row {
  display: flex;
  justify-content: center;

  min-height: inherit;
  
  width: 100%;
  min-width: 45em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App__header {
  /* background-color: #222; */
  height: 6em;
  /* padding: 2em; */
  margin-top: 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px dashed #222;
}

.App__title {
  font-size: 2.5em;
  color: #666;
  text-shadow: 0.02em 0.02em #222;
  font-family: 'Averia Sans Libre';
  
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
