body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  
  /* background: yellow; */
}
/* 
@media only screen and (min-device-width : 400px) {
  body {
    background: red;
  }
}

@media only screen and (min-device-width : 700px) {
  body {
    background: green;
  }
}

@media only screen and (min-device-width : 800px) {
  body {
    background: blue;
  }
} 

@media only screen and (min-device-width : 1100px) {
  body {
    background: orange;
  }
}    */

root {
  min-height: inherit;
}

h2.section-title {
  margin-left: 0.3em;
}

h3.section-title {
  margin-left: 0.3em;
  margin-right: 0.3em;
  font-weight: 300;
}

button {
  border-radius: 0.5em;
  color: #f9f9f9;
  border: none;
}

input {
  border: none;
  border-radius: 0.2em;
  padding-left: 0.2em;
}

/* For hiding blue focus ring for non-tabbers */
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus,
body:not(.user-is-tabbing) summary:focus,
body:not(.user-is-tabbing) div:focus {
  outline: none;
}