body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2.section-title {
  margin-left: 0.3em;
}

h3.section-title {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

button {
  border-radius: 0.5em;
  color: #f9f9f9;
}

/* For hiding blue focus ring for non-tabbers */
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus,
body:not(.user-is-tabbing) details {
  outline: none;
}