:root {
  --default-item-color: rgb(39, 148, 244);
  /* --default-item-color: rgb(84, 161, 255); */
  --disabled-grey: rgb(157, 157, 157);
  --disabled-grey-text: rgb(220, 220, 220);
  --border-grey: rgb(207,207,207);
  --text-color: #444;
  --off-white: #f9f9f9;
}